.container-hero-section{
    display: flex;
    align-items: center;
    aside{
        h1{
            color: #0B132A;
            font-size: 50px;
        }
        p{
            color: #4F5665;
            font-size: 16px;
        }
    }
}